# Configuración de Base de Datos
DB_USER=postgres
DB_PASSWORD=tu_contraseña_aqui
DB_HOST=localhost
DB_PORT=5432
DB_NAME=zyra_bpo_db

# Configuración SMTP (Envío de correos - Google)
EMAIL_EMISOR=tu_correo@gmail.com
EMAIL_PASSWORD=tu_contraseña_de_aplicacion

# Configuración de URLs y CORS
FRONTEND_URL=http://localhost:4200
CORS_ORIGINS=http://localhost:4200,http://localhost:3000
