# --- ENTORNOS VIRTUALES ---
.venv/
venv/
env/
ENV/

# --- CACHÉ DE PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- ARCHIVOS DE CONFIGURACIÓN Y SECRETOS ---
.env
.env.local

# --- EDITORES DE CÓDIGO ---
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# --- RESPALDOS Y BASES DE DATOS ---
*.sql
*.dump
*.tar.gz
backups/
downloads/